In [2]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv("/Users/jay/Work/mlops/data/raw/insurance.csv")

In [5]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [10]:
df.sex.replace(['male','female'],[0,1],inplace=True)
df.smoker.replace(['yes','no'],[0,1],inplace=True)

In [11]:
df['region'] = [0 if i == "southwest" else 
                1 if i == "southeast" else 
                2 if i == "northwest" else 
                3 for i in df['region']]

In [13]:
df.to_csv("../data/processed/insurance_aissms.csv",index=False, mode='w')